<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>taskManager | Forgot your password</title>
    <link href='https://fonts.googleapis.com/css?family=Shippori Antique B1' rel='stylesheet'>
    <link rel="stylesheet" href="../resources/css/forgotten-password.css"/>
    <script src="../resources/js/forgotten-password.js"></script>
  </head>
  <body>
    <!--Forgotten Password Section-->
    <div id="forgotten-password-section">
      <img src="../resources/images/taskManager-Icon-red.png" class="logo" alt="taskManager Icon">
      <div class="forgotten-password-body">
        <p id="forgotten-password-title">Forgot your password</p>
        <div class="form-section">
          <form>
            <div class="email-form">
              <label>Email</label>
              <input id="email-form-label" type="text">
            </div>
          </form>
          <p id="text-above-button">Please enter your email address.</p>
          <button id="login-button" onclick="displayErrorText()">Reset password</button>
        </div>
      </div>
      <a class="signin-text" href="login.html">Go to sign in page</a>
      <p id="error-text">Wrong credentials</p>
    </div>
    <!--Footer-->
    <div class="footer">
      <img src="../resources/images/globe.png" class="language-globe" alt="Globe icon">
      <div style="cursor:pointer" class="language-select">
        <span>English</span>
        <img src="../resources/images/white-drop-down-arrow.png" class="dropdown-arrow" alt="Dropdown arrow icon">
        <div class="language-select-content">
        <p>English</p>
        <p>French</p>
        <p>Spanish</p>
        </div>
      </div>
      <p style="cursor:pointer" class="other-text">Private Policy</p>
      <p style="cursor:pointer" class="other-text">Contact</p>
      <p style="cursor:pointer" class="other-text">© 2022 taskManager</p>
    </div>
  </body>
</html>