<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>taskManager | Main Hub</title>
    <link href='https://fonts.googleapis.com/css?family=Shippori Antique B1' rel='stylesheet'>
    <link rel="stylesheet" href="../resources/css/hub.css"/>
    <script src="../resources/js/hub.js"></script>
    <!--Navigation Bar-->
     <div class="topnav"> 
      <ul class="topnav-buttons">
        <li><img src="../resources/images/hamburger-icon.png" id="left-nav-icon" onclick="openSideNav()"></li>
        <li><img src="../resources/images/taskManager-Icon.png" class="logo" alt="taskManager Icon"></li>
        <div class="search-bar">
          <li><img class="search-icon" src="../resources/images/search-icon-orange.png" alt="Search Icon"/></li>
          <li><input type="text" placeholder="Search.."></li>
        </div>    
        <div class="rightbuttons">
          <li><img src="../resources/images/home-icon.png" id="home-icon" onClick="homeClick()" alt="Home Icon"></li>
          <li><img src="../resources/images/bell-icon.png" id="notif-icon" onclick="openAlert()" alt="Notification Icon"></li>
          <li><img src="../resources/images/setting-icon.png" id="setting-icon" onclick="openSettings()" alt="Setting Icon"></li>
        </div>
      </ul>
    </div>
    <div id="theSideNav" class="sidenav">
      <ul class="sidenav-buttons">
        <li><img src="../resources/images/clock-icon.png" id="clock-icon" onclick="reminderClick()" alt="Reminder Icon"></li>
        <li><p onclick="reminderClick()">Reminders</p></li>
        <li><img src="../resources/images/today-schedule-icon.png" id="today-icon" onclick="todayScheduleClick()" alt="Today Schedule Icon"></li>
        <li><p onclick="todayScheduleClick()">Today's schedule</p></li>
        <li><img src="../resources/images/calender-icon.png" id="calender-icon" onclick="calenderClick()" alt="Calendar Icon"></li>
        <li><p onclick="calenderClick()">Calender</p></li>
        <li><img src="../resources/images/notepad-icon.png" id="task-icon" onclick="tasksClick()" alt="Task Icon"></li>
        <li><p onclick="tasksClick()">Tasks</p></li>
      </ul>
    </div>
  </head>
  <body>
    <div id="section1">
      <img src="../resources/images/beach-bg.jpg" id="hub-bg" alt="A nature background">
      <div id="main-box">
        <p id="welcome-msg">Welcome &lt;&lt;First name&gt;&gt; <br>Here is your daily information about today</p>
        <img src="../resources/images/calender-icon.png" id="calender-icon-in-box" alt="Calendar Icon">
        <button style="cursor:pointer" id="button1" class="do-task-button" onclick="tasksClick()">Check tasks</button> 
        <p id="msg-text">You have &lt;&lt;?&gt;&gt; tasks to complete.</p>
        <img src="../resources/images/notepad-icon.png" id="task-icon-in-box" alt="Task Icon">
        <p id="msg-text2">You have &lt;&lt;?&gt;&gt; events occuring today.</p>
        <button style="cursor:pointer" id="button2" class="do-task-button" onclick="todayScheduleClick()">Check schedule</button>
        <p id="quote-text">"Only one thing is ever guranteed that is  that you will definitely not achieve the goal if you don't take the shot."</p>
        <i id="author-text">- Wayne Grettzky</i> 
      </div>
    </div>
    <!--Nav Button Menus-->
    <div id="alert-box">
      <div class="notif-box">
        <p id="title">Reminders</p>
        <div class="scroll-box">
          <ul class="notifs">
            <li>
              <div class="indiv-notif" onclick="reminderClick()">
                <img src="../resources/images/calender-icon.png" id="calender-icon" alt="Calendar Icon">
                <p>You have to go shopping</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="settings-box">
      <div class="settings-box">
        <p>Settings</p>
        <p onclick="signOutClick()">Sign out</p>
      </div>
    </div>
    <!--Footer-->
    <div class="footer">
      <img src="../resources/images/globe.png" class="language-globe" alt="Globe">
      <div style="cursor:pointer" class="language-select">
        <span>English</span>
        <img src="../resources/images/white-drop-down-arrow.png" class="dropdown-arrow" alt="Dropdown arrow Icon">
        <div class="language-select-content">
        <p>English</p>
        <p>French</p>
        <p>Spanish</p>
        </div>
      </div>
      <p style="cursor:pointer" class="other-text">Private Policy</p>
      <p style="cursor:pointer" class="other-text">Contact</p>
      <p style="cursor:pointer" class="other-text">© 2022 taskManager</p>
    </div>
  </body>
</html>