/*Body settings */
body {
    background-color: rgb(173, 73, 62);
    margin: 0;
    font-family: 'Shippori Antique B1', Arial, Helvetica, sans-serif;
}

/*Forgotten-password Section*/
#forgotten-password-section {
  height: 325px;
  width: 500px;
  background-color: white;
  border-style: none;
  border-color: rgb(53, 53, 53);
  border-width: 1.5px;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  width: auto;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#forgotten-password-title {
  font-size: 35px;
  float: left;
  margin: 10px 40px;
}

.form-section {
  margin-top: 10px;
}

.email-form {
  margin-top: -20px;
}
.email-form label {
  float: left;  
  margin-left: 40px;
}
.email-form input[type=text] {
  width: 80%;
  padding: 5px 5px;
  font-size: 17px;
  margin: 10px 30px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  margin-left: 40px;
}

#login-button {
  border-radius: 8px;
  background-color: rgb(175, 53, 37);
  border: none;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Shippori Antique B1', Arial, Helvetica, sans-serif;
  font-size: 17px;
  width: 80%;
  position: relative;
  top: -20px;
  margin-left: -15px;
  cursor: pointer;
}

#login-button:hover {
  background-color: rgb(136, 38, 25);
}

.login-body {
  margin-top: -25px;
}

.signin-text {
  position: relative;
  top: -10px;
}

#text-above-button {
  display: block;
  top: -20px;
  float:left;
  margin-left: 40px;
  position: relative;
}

.signin-text:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.signin-text:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.signin-text:hover {
  color: rgb(136, 38, 25);
}

.signin-text:active {
  color: rgb(0, 0, 0);
}

.signin-text:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#error-text {
  font-size: 16px;
  display: inline-block;
  position: relative;
  top:-80px;
  color: red;
  display: none;
}

/*Footer*/
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(82, 82, 82);
  color: white;
  text-align: center;
  position:fixed;
}

.language-globe {
  height: 32px;
  width: 32px;
  float: left;
  display: block;  
  align-self: center;
  padding: 8px 8px;
}
.language-select {
  padding: 12px 8px;
  float: left;
  display: block;
  text-align: left;
  width: 120px;
}

.language-select:hover {
  background-color: rgb(54, 54, 54);
}
.language-select {
  position: relative;
  display: inline-block;
}

.language-select-content {
  text-align: left;
  color: rgb(255, 255, 255);
  display: none;
  position: absolute;
  background-color: rgb(82, 82, 82);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 2px 16px;
  z-index: 1;
  bottom: 100%;
  left: -1%;
}

.language-select-content p:hover {
  background-color: #757575;
}

.language-select:hover .language-select-content {
  display: block;
}

.dropdown-arrow {
  width: 17px;
  height: 17px;
  float: right;
  padding: 3px 0;
}

.other-text {
  padding: 0 10px;
  float: left;
  text-align: left;
  font-size: 14px;
}

.other-text:link {
  color: white;
  text-decoration: none;
}

.other-text:visited {
  color: white;
  text-decoration: none;
}
.other-text:hover {
  color: rgb(177, 177, 177);
  text-decoration: none;
}

.other-text:active {
  color: white;
  text-decoration: none;
}